.title {
  font-size: 3rem;
  color: #e3dcdb;
  font-family: monospace;
  text-align: center;
}

body {
  background-color: #e3dcdb;
  margin: 0;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(120, 74, 183);
  border-radius: 10px;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(73, 45, 111);
  width: 45%;
  position: absolute;
}

.description {
  font-family: monospace;
  padding: 5px;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  color: #e3dcdb;
}

.image-container {
  display: absolute;
  scale: 35%;
  border-radius: 10px;
}