.title {
  font-size: 3rem;
  color: #e3dcdb;
  font-family: monospace;
  text-align: center;
}

body {
  background-color: #e3dcdb;
  margin: 0;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(120, 74, 183);
  border-radius: 10px;
  padding: 10px;
}

.content {
  left: 55px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(120, 74, 183);
  width: 45%;
  position: absolute;
}

.description {
  font-family: monospace;
  padding: 5px;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  color: #e3dcdb;
}

.image-container {
  transform: translateY(-20px);
  width: 45%;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  right: 20px;
}

.image {
  right: 55px;
  object-fit: cover;
  border-radius: inherit;
  display: block;
}